@page
@model HealthEquity.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-sm btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Doors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CarId" class="btn btn-sm btn-secondary">Edit</a> 
                    <a asp-page="./Details" asp-route-id="@item.CarId" class="btn btn-sm btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.CarId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
